<div class="home-container">
  <header-component></header-component>
  <div class="content">
      <section class="welcome">
          <h1>Seja bem-vindo(a)!</h1>
          <p>Produzimos as melhores pizzas, com ingredientes frescos e sabores únicos.</p>
          <p>Para fazer um pedido é necessário estar logado.</p>
      </section>
      
      <section class="imagem">
          <img src="assets/imagens/Website BC.png" alt="Mulher comendo fatia de pizza" class="imghome" />
      </section>
  </div>
</div>