<div class="home-container">
    <header>
      <img src="assets/logo.png" alt="Blossom Crust Pizzaria Logo" class="logo" />
      <link rel="css" type="styles.css" href="home.component.css">
      <nav>
        <a href="/">Home</a>
        <a href="/login-selection">Fazer Login</a>
        <a href="/cardapio">Cardápio</a>
      </nav>
    </header>
    <section class="welcome">
      <h1>Seja bem-vindo(a)!</h1>
      <p>Produzimos as melhores pizzas, com ingredientes frescos e sabores únicos.</p>
      <p>Para fazer um pedido é necessário estar logado.</p>
    </section>
  </div>
  