<div class="login-container">
  <header-component></header-component>
  <h2>Em qual área deseja entrar?</h2>
  <div class="container-primario">
      <div class="container">
          <div class="button-container">
              <button class="btn-cliente" routerLink="cliente">CLIENTE</button>
              <button class="btn-funcionario" routerLink="funcionario">FUNCIONÁRIO</button>
          </div>
      </div>
      <div class="imagem">
          <img src="assets/imagens/pizza.png" alt="pizza" class="imgfazerlogin">
      </div>
  </div>

</div>
